body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 30px;
    margin-right: 60px;

  }
  
  .search-input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 50%;
  }
  
  .search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .search-container {
      flex-direction: column;
    }
  
    .search-input {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  
    .search-button {
      border-radius: 5px;
    }
  }
  .parent{
    display: flex;
    border-radius: 30px;
  }
  nav{
    margin-top: 10px
  }
  nav ul {
    list-style: none;
    display: flex;
    text-align: left;
  }
  nav ul li{
    margin-top: 20px;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 50px;
  }
  nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #0056b3;
    transition: color 0.3s;
  }
  a:hover{
    color: #0b2d7a;
  }
  nav{
    text-align: center;
  }
  .put{
    font-weight: bold;
    border-radius: 50px;
    font-size: 30px;
    color: #0056b3;
    margin-left: 30px;
  }
  .image-store{
    display: flex;
    border-radius: 30px;
  }
  div{
    justify-content: center;
    padding: 10px;
    margin-left: 20px;

  }
  img{
    margin: 10px;
    padding: 5px;
    width: 100%;
    height: 200px;
    justify-content: space-between;
    border-radius: 15px;
  }
  img:hover{
    background-color: lightgray;
  }
  button{
    background-color: #0056b3;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    text-align: center;
    align-items: center;
    border-radius: 25px;
    margin-left: 45px;
    
  }
  button:hover{
    background-color: darkblue;
    border: none;
  }
  p{
    font-weight: bold;
    font-size: small;
    text-align: center;
  }
  textarea{
    display: block;
    width: 90%;
    height: 200px;
    border: 2px solid #14213d;
    border-radius: 8px;
    padding: 24px;
    box-sizing:border-box;
    font-family:"Roboto", sans-serif;
    font-size: 16px;
    resize: none;
    max-width:800px;
    line-height:2;
    margin:0 auto;
  }
  .button{
  padding: 16px 20px;
  margin: 32px;
  font-size: 16px;
  font-weight: bold;
  background-color: #0a3696;
  color: #fff;
  border: none;
  border-radius: 8px;
  margin-left: 600px;
  }
  .conact{
    border: none;
    width: 60%;
    align-items: center;
    border-radius: 10px;
  }
  form{
    background-color: rgb(204, 199, 190);
    align-items: center;
    padding: 50px 26px;
    margin: 20px 500px;
  }
  label{
    font-weight: 600;
  }
  ul {
    list-style: none;
  }
  label ul li a{
    text-decoration: none;
    font-size: smaller;
    text-align: left;
  }
  